/*
Custom css of Moonetrica
 */

/*Tabs Style*/
.MuiTabs-indicator{
    background-color: transparent!important;
}
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF!important;
    opacity: 0.5!important;
    border-radius: unset!important;
}
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected{
    color: #FFFFFF!important;
    opacity: 1!important;
    font-weight: bold!important;
    border-bottom: 3px solid;
    border-color: white;
}